factory_boy
Faker
fastapi
fastapi-cache
fastapp
fastjsonschema
pydantic
pydantic-settings
pydantic_core
pytest
pytest-asyncio
pytest-flask
pyzmq
Werkzeug
black
flake8
flake8-bugbear
flake8-pie
isort
mypy
flask_sqlalchemy
types-Flask